@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html, body, #root {
  height: 100%;
}

/* Base theme tokens */
@layer base {
  body {
    @apply bg-white text-zinc-900 dark:bg-zinc-900 dark:text-zinc-100;
  }
}
